# Sentiment Analysis for Instagram Comment on @telkomuniversity IG post using RNN

## Import Dependencies

In [31]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')
import re
from re import sub

import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt

import emoji

## Read Data

In [16]:
scraped_data = pd.DataFrame()
path = 'Scraper'
BASE_DIR = "D:\\kuliah\\tugas\\EDM\\TEXT MINING"
directory = os.path.join(BASE_DIR,path)
os.chdir(directory)
for root,dirs,files in os.walk(directory):
    for file in files:
        if file.endswith(".csv"):
            f = pd.read_csv(file)
            scraped_data = scraped_data.append(f,ignore_index=True)
display(scraped_data)

,id,text,created_at,did_report_as_spam,owner_id,owner_username,owner_is_verified,viewer_has_liked,likes
0,17879474824580432,https://bit.ly/RegistWorkshopTeknisUjianDaring...,1586664958,False,1485219132,fanji_farman,False,False,0
1,17990924800291559,kuota mana kuota,1586666340,False,3607466523,hasfiamr,False,False,0
2,17857930756845161,Subsidi kuota mana,1586669461,False,2707251224,rxvntx,False,False,0
3,17880801838577206,Kuota mana kuota min @telkomuniversity,1586669607,False,1724669055,dhiyulhaqq,False,False,0
4,17860736335828000,Kuota minüòÇ,1586677079,False,1367829296,andi.joo,False,False,0
...,...,...,...,...,...,...,...,...,...
1712,17877210811562582,üî•üî•üî•,1584336186,False,180186848,nafisaagnia,False,False,0
1713,17857687792804193,backsoudnya lo-fi gini,1584336201,False,1162027684,rahmeeen,False,False,4
1714,17854177237939849,min saya mau tny sesuatu udh dm ig mention twi...,1586960336,False,52018555,syafiramhrn,False,False,0
1715,17903878132450528,Ayo ikut hel. We are an international students...,1586988920,False,2118962725,distywisdayani,False,False,0
1716,17899336030461041,Kuota gemana min? :(,1586998884,False,1410329930,bagasadhikara,False,False,0

## Exploratory Data Analysis

In [22]:
scraped_data.sample(15)

,id,text,created_at,did_report_as_spam,owner_id,owner_username,owner_is_verified,viewer_has_liked,likes
1501,17862573265728807,"Ciee yg matiin kolom komenannya, üëè",1584053649,False,7459857862,baymaxnduttt,False,False,0
493,17842702643093782,@m_sabrimas hore hore,1585830640,False,2055783526,fthrhman,False,False,0
1621,17882133808523119,Cikoneng kak butuh disemprot jugaa,1584389834,False,1696111188,javier_aditama,False,False,0
288,17886245134526165,‚ù§,1585880184,False,3683040759,fid.ah_,False,False,0
449,17870512807658486,ASEKKKK,1585832100,False,1011984009,raraamrian,False,False,0
558,18136438714028424,"kuliah cuman 2 bulan ga full satu semester, me...",1585829382,False,224319327,evasnaa,False,False,0
336,17861146981799822,@upiofficial,1585843122,False,548823434,dp.shrt_,False,False,0
1537,17857036513832492,Di zoom ngeblur,1584284487,False,1315063640,andrianaji_,False,False,0
119,17867843527676012,ü•∫ü•∫ü•∫ü•∫,1584993023,False,1498831648,dwiidaayuu,False,False,0
1458,18125470330068323,Yaa kirain lulusan telkom,1584536208,False,4829020597,_echomusic_,False,False,1
64,17863452454748914,Kuota kuotaa,1586766811,False,2313867266,singgih_019,False,False,0
685,17860504381825555,Tjintaaa telyu‚ù§Ô∏è,1585828028,False,1375368341,elstiavrnca,False,False,2
508,17846307545029679,Sing main main !,1585829964,False,302045017,dwijaya_,False,False,0
1524,17867757832658960,Lah kok gaada cad @irsyad.rd,1584105496,False,1519594353,beka.mrf,False,False,2
446,17877501592595789,@politeknikati_makassar @bem_poltekatim,1585831854,False,5375711034,almbagas,False,False,0

In [17]:
scraped_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1717 entries, 0 to 1716
Data columns (total 9 columns):
id                    1717 non-null object
text                  1717 non-null object
created_at            1717 non-null object
did_report_as_spam    1717 non-null object
owner_id              1717 non-null object
owner_username        1717 non-null object
owner_is_verified     1717 non-null object
viewer_has_liked      1717 non-null object
likes                 1717 non-null object
dtypes: object(9)
memory usage: 120.9+ KB

In [19]:
scraped_data.describe(include=['O'])

,id,text,created_at,did_report_as_spam,owner_id,owner_username,owner_is_verified,viewer_has_liked,likes
count,1717,1717,1717,1717,1717,1717,1717,1717,1717
unique,1672,1585,1651,1,1386,1386,1,1,15
top,18058922635204086,Alhamdulillah,1585827863,False,9125683,adesatrio,False,False,0
freq,2,13,3,1717,11,11,1717,1717,1294

In [21]:
scraped_data.isna().sum()

id                    0
text                  0
created_at            0
did_report_as_spam    0
owner_id              0
owner_username        0
owner_is_verified     0
viewer_has_liked      0
likes                 0
dtype: int64

Yang dapat disimpulkan :
- Terdapat emoji pada column text (challenge dalam penentuan label)
- User yang sering comment pada post Telkomuniversity adalah adesatrio dengan frekuensi 11 kali
- Ada komentar yang sama dan dipost berulang oleh akun yang berbeda
- Tidak ada missing values, tapi cukup banyak noise pada kolom text

## Cleansing and Slicing

In [28]:
input_data = scraped_data.dropna().reset_index(drop=True).loc[:,'text']
input_data

0       https://bit.ly/RegistWorkshopTeknisUjianDaring...
1                                        kuota mana kuota
2                                      Subsidi kuota mana
3                  Kuota mana kuota min @telkomuniversity
4                                              Kuota minüòÇ
                              ...
1712                                                  üî•üî•üî•
1713                               backsoudnya lo-fi gini
1714    min saya mau tny sesuatu udh dm ig mention twi...
1715    Ayo ikut hel. We are an international students...
1716                                 Kuota gemana min? :(
Name: text, Length: 1717, dtype: object

In [ ]:
def replace_emoji(text):
    SMILEY = {
        ":(" : "sedih",
        ":)" : "bahagia",
        ":/" : "skeptis",
        ":p" : "ejek",
        ":P" : "ejek",
        ":-(" : "sedih",
        ":-)" : "bahagia",
        ":-/" : "skeptis",
        ":-p" : "ejek",
        ":-P" : "ejek",
    }

## Preprocessing

### Cluster-based Labeling

### Tokenization

### Stemming

### Filtering

## Feature Extraction

## Modeling

## Prediction